*{margin:0;padding:0;}
a{text-decoration:none;}
a:hover{
    text-decoration: none;
}
ul{list-style: none;}
i,em{font-style:normal;}
.my_header,.my_footer{
    width:100%;
}
.my_header{
    height: 8rem;;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
  
